

/* banner */
.banner {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
}
.banner p {
    color: white;
    font-size: 150px;
    font-weight: 800;
    margin: 0px;
}

/* contents */

/*
.contents {
}
*/

